<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lulu's Bridal</title>
    <link rel="stylesheet" href="main.css">
    <link rel="normalise" href="normalise.css">
</head>
<body>
    <header>
    </header>
    
    <section>
        <div class="hero">
            <h1>Here Comes the Bride</h1>
            <a class="shop-link" href="#">Shop Bridal Dresses</a>
            <!--insert image/vid here-->
        </div>
    </section>
    <section>
        <div class="guest">
            <h2>Good at Guesting</h2>
            <p>Celebrate love in styles fit for every wedding invite and beyond</p>
            <div class="guest-invite">
                <!--insert image here-->
                <p>When the Invite says</p>
                <h3>Spring Wedding</h3>
            </div>
            <div class="guest-invite">
                <!--insert image here-->
                <p>When the Invite says</p>
                <h3>Cocktail Wedding</h3>
            </div>
            <div class="guest-invite">
                <!--insert image here-->
                <p>When the Invite says</p>
                <h3>Black-Tie Wedding</h3>
            </div>
        </div>
    </section>
    <section>
        <div class="bridesmaid">
            <h2>Stand Out Together</h2>
            <a class="shop-link" href="#">Shop Bridesmaid Dresses</a>
            <!--image here-->
        </div>
        <div class="bridesmaid-color">
            <h4>Shop by Bridesmaid Color</h4>
            <div class="color">
                <p>Black</p>
                <p>Green</p>
                <p>Blue</p>
                <p>Pink</p>
                <p>floral</p>
            </div>
        </div>
    </section>
    <section>
        <div class="occasion">
            <div class="occasion-categories">
                <a class="shop-link" href="#">Luxe Wedding Dresses</a>
                <!--image here-->
            </div>
            <div class="occasion-categories">
                <a class="shop-link" href="#">Wedding Jumpsuits</a>
                <!--image here-->
            </div>
            <div class="occasion-categories">
                <a class="shop-link" href="#">Bridal Shower Dresses</a>
                <!--image here-->
            </div>
            <div class="occasion-categories">
                <a class="shop-link" href="#">Rehearsal Dinner Dresses</a>
                <!--image here-->
            </div>
            <div class="occasion-categories">
                <a class="shop-link" href="#">Bachelorette Dresses</a>
                <!--image here-->
            </div>
            <div class="occasion-categories">
                <a class="shop-link" href="#">Bridal Outfits</a>
                <!--image here-->
            </div>
            <div class="occasion-categories">
                <a class="shop-link" href="#">Reception Dresses</a>
                <!--image here-->
            </div>
            <div class="occasion-categories">
                <a class="shop-link" href="#">Honeymoon</a>
                <!--image here-->
            </div>
            <div class="occasion-title">
                <h2>A Look for Every Occasion</h2>
            </div>
            <div class="occasion-text">
                <p>From the bachelorette party to the wedding reception, find a look that says love, at every special moment</p>
            </div>
        </div>
    </section>
    <section>
        <div class="accessories">
            <h2>To Have and To Hold</h2>
            <div class="accessories-shop">
                <a class="shop-link" href="#">Shop Wedding Shoes</a>
                <!--image here-->
            </div>
            <div class="accessories-shop">
                <a class="shop-link" href="#">Shop Wedding Accessories</a>
                <!--image here-->
            </div>
        </div>
    </section>
    <section>
        <div class="discount">
            <h5>Get 15% off when you sign up for texts!</h5>
            <p>By signing up via text, you agree to receive recurring automated promotional and personalized marketing text messages (e.g. cart reminders) from Lulus at the cell number used when signing up. Consent is not a condition of any purchases. Reply HELP for help and STOP to cancel. Msg frequency varies. Msg & data rates may apply. View Terms & Privacy.</p>
            <p>Text 'LULUS'to 54858</p>
        </div>
    </section>

    <footer>
    </footer>
</body>
</html>