<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lulu's | Case Study</title>
    <link rel="stylesheet" href="https://use.typekit.net/ocw0loq.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="normalise" href="css/normalise.css">
    <script src="https://kit.fontawesome.com/60c4235413.js" crossorigin="anonymous"></script>
</head>
<body>
    <h1>Lulu's Web Components</h1>
    <section>
        <h2>Typography Defaults</h2>
            <article class="component-body">
                <h3>Body</h3>
                <img src="images/body.png">
            </article>
            <article>
                <p>Celebrate love in styles fit for every wedding invite and beyond</p>
            </article>

            <article class="component-headings">
                <h3>Heading</h3>
                <img src="images/heading1.png">
            <article>
            <article>
                <h4>Here Comes the Bride</h4>
            </article>
    </section>
    <section>
        <h2>Link Style</h2>
            <article class="component-link">
                <img src="images/link.png">
            </article>
            <article>
                <a href="#">Shop Bridal Dresses</a>
            </article>
    </section>
    <section>
        <h2>Header</h2>
        <article class="component-header">
            <img src="images/header.png">
        </article>
    </section>
    <header>
        <div class="header">
            <div class="switch-link">
                <p><a href=""><i class="fa-regular fa-star"></i>Shop Lulus</a></p>
            </div>
            <div class="logo">
                <a href=""><img src="images/header logo.png" alt="logo"></a>
            </div>
            <div class="search-bar">
                <input type="text" placeholder="Search" size="15"><i class="fa-solid fa-magnifying-glass"></i>
            </div>
            <div class="icons">
                <a href=""><i class="fa-solid fa-square"></i></a>
                <a href=""><i class="fa-regular fa-user"></i></a>
                <a href=""><i class="fa-regular fa-heart"></i></a>
                <a href=""><i class="fa-solid fa-bag-shopping"></i></a>
            </div>
        </div>
    </header>
            
    <nav>
        <ul class="navbar__categories">
            <li><a href="">New</a></li>
            <li><a href="">Guest</a></li>
            <li><a href="">Bride</a></li>
            <li><a href="">Bridesmaid</a></li>
            <li><a href="">Events</a></li>
            <li><a href="">Shoes</a></li>
            <li><a href="">Accessories</a></li>
            <li><a href="">Sale</a></li>
        </ul>
    </nav>

    <section>
        <article>
            <h2>Hero</h2>
            <img src="images/hero.png">
        </article>
        <article class="hero">
            <h4>Here Comes the Bride</h4>
            <img class="hero-image" src="images/bride1.jpg" alt="bride by a port">
            <a href="#">Shop Bridal Dresses</a>
        </article>
    <section>

    <section>
        <article>
            <h2>Section: Guests </h2>
            <img src="images/section1.png">
        </article>
        <article class="guest">
            <h4>Good at Guesting</h4>
            <p>Celebrate love in styles fit for every wedding invite and beyond</p>
            <a href="#">Shop Wedding Guest</a>
            <div class="guest-categories">
                <div class="spring">
                    <img src="images/springdress.jpg" alt="woman wearing purple dress by ocean">
                    <h3>Spring Wedding</h3>
                </div>
                <div class="cocktail">
                    <img src="images/cocktaildress.jpg" alt="women wearing fancy dresses">
                    <h3>Cocktail Wedding</h3>
                </div>
                <div class="black-tie">
                    <img src="images/blacktie.jpg" alt="two women wearing a pink and blue dress">
                    <h3>Black-Tie Wedding</h3>
                </div>
            </div>
        </article>
    </section>

    <section>
        <article>
            <h2>Section: Bridesmaid</h2>
            <img src="images/section2.png">
            <img src="images/section2 article.png">
        </article>
        <article class="bridesmaid">
            <img src="images/bridesmaid.jpg" alt="two women wearing a dress for a wedding">
            <div class="bridesmaid-shop">
                <h4>Stand Out Together</h4>
                <a href="#">Shop Bridesmaid Dresses</a>
                <img src="images/bridesmaid2.jpg" alt="two bridesmaids wearing light pink">
                <p>Help your bridal crew harmonize hues wigh our curated collection of mix n' match masterpieces</p>
            </div>
        </article>
    </section>

    <section>
        <article>
            <h2>Section: Occasions</h2>
            <img src="images/section3.png">
        </article>
        <article class="occasions">
            <h4>A Look for Every Occasion</h4>
            <p>From the bachelorette party to the wedding reception,<br>find a look that says love, at every special moment</p>
            <div  class="occasion-categories">
                <div class="category">
                    <img src="images/bachelorettedress.jpg">
                    <a href="#">Bachelorette Dresses</a>
                </div>
                <div class="category">
                    <img src="images/bridaloutfit.jpg">
                    <a href="#">Bridal Outfits</a>
                </div>
                <div class="category">
                    <img src="images/bridalshower.jpg">
                    <a href="#">Bridal Shower Dresses</a>
                </div>
                <div class="category">
                    <img src="images/rehearsal.jpg">
                    <a href="#">Rehearsal Dinner Dresses</a>
                </div>
                <div class="category">
                    <img src="images/reception.jpg">
                    <a href="#">Reception Dresses</a>
                </div>
                <div class="category">
                    <img src="images/honeymoondress.jpg">
                    <a href="#">Honeymoon</a>
                </div>
                <div class="category">
                    <img src="images/jumpsuit.jpg">
                    <a href="#">Wedding Jumpsuits</a>
                </div>
                <div class="category">
                    <img src="images/luxedress.jpg">
                    <a href="#">Luxe Wedding Dresses</a>
                </div>
            </div>
        </article>
    </section>
    
    <section>
        <h2>Footer</h2>
            <article class="component-foot">
                <img src="images/footer.png">
            </article>
    </section>


</body>
</html>