<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lulu's | Case Study</title>
    <link rel="stylesheet" href="https://use.typekit.net/ocw0loq.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="normalise" href="css/normalise.css">
    <script src="https://kit.fontawesome.com/60c4235413.js" crossorigin="anonymous"></script>
</head>
<body>
    <h1>Lulu's Web Components</h1>
    <section>
        <h2>Typography Defaults</h2>
            <article class="component-body">
                <h3>Body</h3>
                <img src="images/body.png">
            </article>
            <article>
                <p>Celebrate love in styles fit for every wedding invite and beyond</p>
            </article>

            <article class="component-headings">
                <h3>Headings</h3>
                <img src="images/heading1.png">
                <img src="images/heading2.png">
            <article>
            <article>
                <h4>Here Comes the Bride</h4>
                <h4>Black-Tie Wedding</h4>
            </article>
    </section>
    <section>
        <h2>Link Style</h2>
            <article class="component-link">
                <img src="images/link.png">
            </article>
            <article>
                <a href="#">Shop Bridal Dresses</a>
            </article>
    </section>
    <section>
        <h2>Header</h2>
        <article class="component-header">
            <img src="images/header.png">
        </article>
    </section>
    <header>
        <div class="header">
            <div class="switch-link">
                <p><a href=""><i class="fa-regular fa-star"></i>Shop Lulus</a></p>
            </div>
            <div class="logo">
                <a href=""><img src="images/header logo.png" alt="logo"></a>
            </div>
            <div class="search-bar">
                <input type="text" placeholder="Search" size="15"><i class="fa-solid fa-magnifying-glass"></i>
            </div>
            <div class="icons">
                <a href=""><i class="fa-solid fa-square"></i></a>
                <a href=""><i class="fa-regular fa-user"></i></a>
                <a href=""><i class="fa-regular fa-heart"></i></a>
                <a href=""><i class="fa-solid fa-bag-shopping"></i></a>
            </div>
        </div>
    </header>
            
    <nav>
        <ul class="navbar__categories">
            <li><a href="">New</a></li>
            <li><a href="">Guest</a></li>
            <li><a href="">Bride</a></li>
            <li><a href="">Bridesmaid</a></li>
            <li><a href="">Events</a></li>
            <li><a href="">Shoes</a></li>
            <li><a href="">Accessories</a></li>
            <li><a href="">Sale</a></li>
        </ul>
    </nav>

    <section>
        <h2>Footer</h2>
            <article class="component-foot">
                <img src="images/footer.png">
            </article>
    </section>


</body>
</html>