:root{

  --black: #000;
  --white: #fff;
  --dark-grey: #333333;
  --light-grey: #f7f7f7
} 
@import url("https://use.typekit.net/ocw0loq.css");

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body{
  font-family: 'proxima-nova', sans-serif;
  font-family: 'cormorant-garamond', serif;
}
h1
h2
h3
h4
h5{
  font-family: 'cormorant-garamond', serif;
}
h1{
  font-size: 500%;
  font-weight: 500;
}

a{
  text-decoration: none;
  color: var(--white);
  border-bottom: 1px solid white;
  font-weight: 700;
  padding-bottom: 0.5rem;
}
img{
  max-width: 100%;
  border: 1px solid black;
  display: block;
}
ul{
  padding: 0;
}
article h4{
  font-size: 4rem;
}
/**header**/
.header{
  display: flex;
  flex-direction: row;
  margin: 0 4rem 1.5rem;
  justify-content:space-between;
  align-items: center;
}
.switch-link{
  font-size: 90%;
  padding-right: 237px;
}
.fa-regular.fa-star{
  margin-right: 0.2rem;
}
.fa-solid.fa-magnifying-glass:hover{
  color: #ddd;
}
.fa-regular.fa-heart:hover{
  color: red;
}
.logo{
  max-width: 20%;
}
.logo img{
  border: none;
}
input{
  border: transparent;
  border-bottom: solid thin black;
}
input::placeholder{
  font-size: 80%;
  color: #aaa;
}
.search-bar{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.icons{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.icons a{
  margin-left: 1.5rem;
}

/**nav**/
nav{
  border-bottom: solid thin #eee;
  padding-bottom: 1rem;
}
.navbar__categories{
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 48rem;
  margin: 0 auto;
}
.navbar__categories a{
  text-decoration: none;
  color: black;
  border: transparent;
  padding-bottom: 1rem;
}
.navbar__categories a:hover{
  border-bottom: solid thick black;
}

/*hero*/
.hero-image{
  width: 100%
}
.hero{
  position: relative;
  text-align: center;
  color: #fff;
}
.hero-text{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 1rem;
}
.hero-text a{
  margin: 0;
  padding: 0;
}
.hero-text h1{
  padding-bottom: 1.5rem;
  margin: 0;
}

/**guests**/
.guest{
  margin: 0, 2rem, 0, 2rem;
}
.guest-categories img{
  width: 23rem;
}
.spring{
  position: relative;
  text-align: center;
}
.spring img{
  display: inline-block;
  margin: 0;
  padding: 0;
}
.spring h3{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--white);
}
